<!DOCTYPE html>
<html>
<head>
    <title>ADBL SMS System</title>
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">-->
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="icon" href="{% static 'adbl.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'logo_final.png' %}" alt="Logo">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                   <li class="nav-item text-black">
                        <a class="nav-link text-black font-weight-bold" href="http://172.16.15.131:8000">Portal</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content-wrapper">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </div>

    <!-- Footer -->
    <footer class="py-3 custom-footer-bg text-light">
        <p class="m-0 text-center">Digital Banking Department - ADBL 2024</p>
    </footer>
</body>
</html>
